:root {
--logo-web:  #2196F3;
--header-logo-studio:#000000;
--footer-logo-studio:#FFFFFF;
--text-color:#212121;
--text-color-2: #757575;
--header-color: #ECECEC;
--banner-background-color: #2F303A;
--nav-color: #2196F3;
--banner-text: #FFFFFF;
--button-color: #F5F4FA;
--footer-contacts-link:rgba(255, 255, 255, 0.6);
--footer-addres:#FFFFFF;
--team-background-color: #F5F4FA;
--background-color:#FFFFFF;
--footer-background-color: #2F303A;
}

.body-studio {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color:var(--background-color)}
/*логотип*/  
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    text-decoration: none;}
.logo-blue {
    color: var(--logo-web)}
.header-logo-black{
    color: var(--header-logo-studio)}
.footer-logo-white {
    color: var(--footer-logo-studio)}
/*хедер*/
.list {
    list-style: none;}
.link {
    text-decoration: none;
    font-style: normal;}
.header-list-link {
    font-weight: 500;   
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--text-color)}
.header-contacts-link {
    font-weight: 500;   
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--text-color-2)}

.header-list-link:hover, .header-list-link:focus {
    color:var(--nav-color)}
.header-contacts-link:hover, .header-contacts-link:focus {
    color:var(--nav-color)}

/*банер*/
.banner {
    background-color: var(--banner-background-color)}
.banner-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    color: var(--banner-text)}
.banner-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--banner-text);
    background-color: var(--nav-color)}
.button {
    cursor: pointer;}

/*наші особливості*/
.hiden-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}
.features-name {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.features-description{
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--text-color-2)}
/*чим ми займаємось*/
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
    letter-spacing: 0.03em;}
/*команда*/
.team {
    background-color:var(--team-background-color)}
.employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;}
.employee-position {
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color: var(--text-color-2);}
/*футер студія */
.footer {
    background-color: var(--footer-background-color)}
.footer-contacts-list {
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;}

.footer-mail-link, .footer-tel-link {
    color: var(--footer-contacts-link)}
.footer-addres-link {
    color: var(--footer-addres)}
.footer-mail-link:hover, .footer-mail-link:focus {
    color:var(--nav-color)}
.footer-addres-link:hover, .footer-addres-link:focus {
    color:var(--nav-color)}
.footer-tel-link:hover, .footer-tel-link:focus {
    color:var(--nav-color)}

/*портфоліо*/
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;}
.portfolio-type {
    color: var(--text-color-2);
    font-weight: 400;
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;}
.portfolio-project-link {
    text-decoration: none;
    color: var(--text-color)}
.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: var(--button-color);
    cursor: pointer;}
.button:hover, .button:focus {
    background-color:var(--nav-color);
    color: var(--banner-text)}